html, body {
    background-color: #99D9EA;
    margin: 0;
    height: 100%;
}
em {
  font-weight: bold;
}
.mainpage {
    margin: auto;
    width: 80%;
    background-color: white;
    align-content: center;
    font-family: 'Railway', sans-serif;
}
@media screen and (max-width: 600px) {
    h1#tittelgreie {
    font-size: 40px;
  }
  p#hovedsidemindreskrift {
    font-size: 10px;
  }
}

footer {
    border-top: 1px solid black;
    padding-top: 1px;
    padding-bottom: 1px;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
.hovedinnhold {
     text-align: center;
    margin-left: 2em;
     margin-right: 2em;
  
}
.hovedinnholdparagraf {
    position: absolute;
    width: 50%;
    margin: 0 auto;
}
#tittelgreie, #hovedsidemindreskrift {
      font-size: 50px;
      color: white;
      text-shadow: -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}
#HovedsideMindreSkrift {
    font-size: 10px;
}
#rounded-image {
    border-radius: 50%;
}
/* Add a black background color to the top navigation */
.TopNav {
      background-color: #333;
      overflow: hidden;
    margin: 0 auto;
}

/* Style the links inside the navigation bar */
.TopNav a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.TopNav a:hover {
    background-color: white;
    color: black;
}

/* Removes the hover effect above to keep it a fake button.*/
.TopNav a#logo:hover {
    background-color: #333;
    color: white;
}

/* Hide the link that should open and close the TopNav on small screens */
.TopNav .icon {
    display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the TopNav (.icon) */
@media screen and (max-width: 825px) {
    .TopNav a:not(:first-child) {
        display: none;
    }
    .TopNav a.icon {
        float: right;
        display: block;
     }
    .TopNav.responsive {
         position: relative;
    }
    .TopNav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .TopNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #hovedsidemindreskrift {
      display: none;
    }
}